# Ignore test outputs
data/*.csv

# Ignore Python junk
__pycache__/
*.pyc
data/*.gtf
data/*.gtf.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large intermediate BAMs/FASTQs
data/*.bam
data/*.fastq
data/*.fq

# macOS Finder files
.DS_Store
data/.DS_Store