# --- Project Data & Old Versions ---
data/
!data/gene_list.txt
oldversion/

# --- Results (The Trap Fix) ---
results/*
# only figure and panel_feature
!results/figures/
!results/panel_features.csv
!results/panel_features_v2.csv

# --- Bioinformatics Large Files ---
*.bam
*.bai
*.fastq
*.fq
*.gz
*.csv
*.tsv
*.gtf
*.db
*.h5ad

# --- Pipelines, Logs, and Models ---
.snakemake/
logs/
models/

# --- Python Junk ---
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/

# --- Jupyter Notebooks & Checkpoints ---
.ipynb_checkpoints/
*.ipynb

# --- OS & IDE Files ---
.DS_Store
.vscode/
.idea/