# Ignore test outputs
data/
!data/gene_list.txt
results/
oldversion/
*.bam
*.bai
*.fastq
*.fq
*.gz
*.csv
*.tsv
*.gtf
*.db

# Ignore Python junk
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS Finder files
.DS_Store
.vscode/
.idea/